img {
    width: 200px;
    margin-left: 100px;
}
body {
    text-align: left;
    font-family: cursive;
    background-image: url("http://wallpapercave.com/wp/MZn6LGl.jpg");
    background-size:cover;
    
    
}
.pro { 
    display: inline-block;
    vertical-align: top;
}
.text {
    width: 30%;
    height: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    color:black;
    font-size:24px;
    
    
}
.picture {
    display: inline-block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.jq {
    margin-left: 100px;
}
.text p { 
    margin-top: 0px;
    margin-bottom: 0px;
}
.text2 {
    margin-left:100px;
    font-size: 28px;
}